# Assignment 2
For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [assets/NISPUF17.csv](assets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [assets/NIS-PUF17-DUG.pdf](assets/NIS-PUF17-DUG.pdf). **Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).**

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

In [7]:
import pandas as pd

test_Series1 = pd.Series({
    'Name': 'Fabian',
    'location': 'Lohr',
    'age': 34,
    'weight': 88,
})

test_Series2 = pd.Series({
    'Name': 'Vivien',
    'location': 'Lohr',
    'age': 28,
    'weight': 68,
})

test_Series3 = pd.Series({
    'Name': 'Helena',
    'location': 'Duesseldorf',
    'age': 38,
    'weight': 69,
})

test_df = pd.DataFrame([test_Series1, test_Series2, test_Series3], index=['Person1','Person2','Person3'])
test_df.head()

           Name     location  age  weight
Person1  Fabian         Lohr   34      88
Person2  Vivien         Lohr   28      68
Person3  Helena  Duesseldorf   38      69

In [8]:
import pandas as pd

test_Series1 = pd.Series({
    'Name': 'Fabian',
    'location': 'Lohr',
    'age': 34,
    'weight': 88,
})

test_Series2 = pd.Series({
    'Name': 'Vivien',
    'location': 'Lohr',
    'age': 28,
    'weight': 68,
})

test_Series3 = pd.Series({
    'Name': 'Helena',
    'location': 'Duesseldorf',
    'age': 38,
    'weight': 69,
})

test_df = pd.DataFrame([test_Series1, test_Series2, test_Series3])
print(test_df.head())
print(test_df.loc[2]) # working because index = 0..2
print(test_df.iloc[2]) # should work also with custom index

     Name     location  age  weight
0  Fabian         Lohr   34      88
1  Vivien         Lohr   28      68
2  Helena  Duesseldorf   38      69
Name             Helena
location    Duesseldorf
age                  38
weight               69
Name: 2, dtype: object
Name             Helena
location    Duesseldorf
age                  38
weight               69
Name: 2, dtype: object

In [9]:
import pandas as pd

test_Series1 = pd.Series({
    'Name': 'Fabian',
    'location': 'Lohr',
    'age': 34,
    'weight': 88,
})

test_Series2 = pd.Series({
    'Name': 'Vivien',
    'location': 'Lohr',
    'age': 28,
    'weight': 68,
})

test_Series3 = pd.Series({
    'Name': 'Helena',
    'location': 'Duesseldorf',
    'age': 38,
    'weight': 69,
})

test_df = pd.DataFrame([test_Series1, test_Series2, test_Series3])
test_df.set_index('Name', inplace=True)
print(test_df.head())
#print(test_df.loc[0]) # error!
print(test_df.loc['Fabian']) 
print(test_df.iloc[0])

           location  age  weight
Name
Fabian         Lohr   34      88
Vivien         Lohr   28      68
Helena  Duesseldorf   38      69
location    Lohr
age           34
weight        88
Name: Fabian, dtype: object
location    Lohr
age           34
weight        88
Name: Fabian, dtype: object

In [10]:
import pandas as pd

test_Series1 = pd.Series({
    'Name': 'Fabian',
    'location': 'Lohr',
    'age': 34,
    'weight': 88,
})

test_Series2 = pd.Series({
    'Name': 'Vivien',
    'location': 'Lohr',
    'age': 28,
    'weight': 68,
})

test_Series3 = pd.Series({
    'Name': 'Helena',
    'location': 'Duesseldorf',
    'age': 38,
    'weight': 69,
})

test_df = pd.DataFrame([test_Series1, test_Series2, test_Series3], index=['Person1','Person2','Person3'])
test_df.reset_index(inplace=True)
test_df.head()

     index    Name     location  age  weight
0  Person1  Fabian         Lohr   34      88
1  Person2  Vivien         Lohr   28      68
2  Person3  Helena  Duesseldorf   38      69

In [11]:
import pandas as pd

test_Series1 = pd.Series({
    'Name': 'Fabian',
    'location': 'Lohr',
    'age': 34,
    'weight': 88,
})

test_Series2 = pd.Series({
    'Name': 'Vivien',
    'location': 'Lohr',
    'age': 28,
    'weight': 68,
})

test_Series3 = pd.Series({
    'Name': 'Helena',
    'location': 'Duesseldorf',
    'age': 38,
    'weight': 69,
})

test_df = pd.DataFrame([test_Series1, test_Series2, test_Series3], index=['Person1','Person2','Person3'])
test_df.reset_index(inplace=True)
test_df.drop(columns=['index'])
# call by value
df2 = test_df.copy()
df2.head()
df2.drop(columns=['index'], inplace=True)
print(df2.head())
print(test_df.head())
#test_df.head()

     Name     location  age  weight
0  Fabian         Lohr   34      88
1  Vivien         Lohr   28      68
2  Helena  Duesseldorf   38      69
     index    Name     location  age  weight
0  Person1  Fabian         Lohr   34      88
1  Person2  Vivien         Lohr   28      68
2  Person3  Helena  Duesseldorf   38      69

In [12]:
import pandas as pd

test_Series1 = pd.Series({
    'Name': 'Fabian',
    'location': 'Lohr',
    'age': 34,
    'weight': 88,
})

test_Series2 = pd.Series({
    'Name': 'Vivien',
    'location': 'Lohr',
    'age': 28,
    'weight': 68,
})

test_Series3 = pd.Series({
    'Name': 'Helena',
    'location': 'Duesseldorf',
    'age': 38,
    'weight': 69,
})

test_df = pd.DataFrame([test_Series1, test_Series2, test_Series3], index=['Person1','Person2','Person3'])
test_df.reset_index(inplace=True)
test_df.drop(columns=['index'])
# call by reference
df2 = test_df
df2.head()
df2.drop(columns=['index'], inplace=True)
print(df2.head())
print(test_df.head())

     Name     location  age  weight
0  Fabian         Lohr   34      88
1  Vivien         Lohr   28      68
2  Helena  Duesseldorf   38      69
     Name     location  age  weight
0  Fabian         Lohr   34      88
1  Vivien         Lohr   28      68
2  Helena  Duesseldorf   38      69

In [13]:
import pandas as pd

test_Series1 = pd.Series({
    'Name': 'Fabian',
    'location': 'Lohr',
    'age': 34,
    'weight': 88,
})

test_Series2 = pd.Series({
    'Name': 'Vivien',
    'location': 'Lohr',
    'age': 28,
    'weight': 68,
})

test_Series3 = pd.Series({
    'Name': 'Helena',
    'location': 'Duesseldorf',
    'age': 38,
    'weight': 69,
})

test_df = pd.DataFrame([test_Series1, test_Series2, test_Series3], index=['Person1','Person2','Person3'])
test_df.reset_index(inplace=True)
test_df.drop(columns=['index'])
# call by value
df2 = test_df.copy()
df2.head()
df2.drop(columns=['index'], inplace=True)
df2.drop([0], inplace=True)

print(df2.head())
print(test_df.head())

     Name     location  age  weight
1  Vivien         Lohr   28      68
2  Helena  Duesseldorf   38      69
     index    Name     location  age  weight
0  Person1  Fabian         Lohr   34      88
1  Person2  Vivien         Lohr   28      68
2  Person3  Helena  Duesseldorf   38      69

In [14]:
import pandas as pd

test_Series1 = pd.Series({
    'Name': 'Fabian',
    'location': 'Lohr',
    'age': 34,
    'weight': 88,
})

test_Series2 = pd.Series({
    'Name': 'Vivien',
    'location': 'Lohr',
    'age': 28,
    'weight': 68,
})

test_Series3 = pd.Series({
    'Name': 'Helena',
    'location': 'Duesseldorf',
    'age': 38,
    'weight': 69,
})

test_df = pd.DataFrame([test_Series1, test_Series2, test_Series3], index=['Person1','Person2','Person3'])
test_df.reset_index(inplace=True)
test_df.drop(columns=['index'])
# call by value
df2 = test_df.copy()
df2.head()
df2.drop(columns=['index'], inplace=True)
df2.drop([0], inplace=True)

df1=test_df.copy()
df1.set_index(['age'], inplace=True)

print(df2.head())
print(df1.head())
print(df2['age'])
print(df1.index.values)
print(df2['age'].dtype)

     Name     location  age  weight
1  Vivien         Lohr   28      68
2  Helena  Duesseldorf   38      69
       index    Name     location  weight
age
34   Person1  Fabian         Lohr      88
28   Person2  Vivien         Lohr      68
38   Person3  Helena  Duesseldorf      69
1    28
2    38
Name: age, dtype: int64
[34 28 38]
int64

In [15]:
import pandas as pd
index = ['Fabian', 'Vivien', 'Mimi']
df = pd.DataFrame({
    'Name': ['Fabian', 'Vivien', 'Mimi'],
    'location': ['Lohr', 'Lohr', 'Lohr'],
    'age': [34, 28, 0.5],
    'weight': [88, 68, 8]
})
print(df.head())
print(df['age'].dtype)
print(df.iloc[2,2])
print(df[['age', 'weight']])

     Name location   age  weight
0  Fabian     Lohr  34.0      88
1  Vivien     Lohr  28.0      68
2    Mimi     Lohr   0.5       8
float64
0.5
    age  weight
0  34.0      88
1  28.0      68
2   0.5       8

In [16]:
import pandas as pd
index = ['Fabian', 'Vivien', 'Mimi']
df = pd.DataFrame({
    'Name': ['Fabian', 'Vivien', 'Mimi'],
    'location': ['Lohr', 'Lohr', 'Lohr'],
    'age': [34, 28, 0.5],
    'weight': [88, 68, 8]
})
print(df.head())
df2 = df.reindex([1,2,0])
print(df2.head())
df3 = pd.concat(i for i in [df,df2])
print(df3)
df3.loc[0,['age', 'weight']]

     Name location   age  weight
0  Fabian     Lohr  34.0      88
1  Vivien     Lohr  28.0      68
2    Mimi     Lohr   0.5       8
     Name location   age  weight
1  Vivien     Lohr  28.0      68
2    Mimi     Lohr   0.5       8
0  Fabian     Lohr  34.0      88
     Name location   age  weight
0  Fabian     Lohr  34.0      88
1  Vivien     Lohr  28.0      68
2    Mimi     Lohr   0.5       8
1  Vivien     Lohr  28.0      68
2    Mimi     Lohr   0.5       8
0  Fabian     Lohr  34.0      88

    age  weight
0  34.0      88
0  34.0      88

In [17]:
import pandas as pd

def proportion_of_education():
    # your code goes here
    df = pd.read_csv("assets/NISPUF17.csv")
    #lths = df['EDUC1'] < 12
    #hs = df['EDUC1'] == 12
    #mths = (df['EDUC1'] > 12) & (df['EDUC1'] < 18)
    props = df['EDUC1'].value_counts(normalize=True)
    poe_dict = {
        'less than high school': props[1],
        'high school': props[2],
        'more than high school but not college': props[3],
        'college': props[4]
    }
    return poe_dict

In [18]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

In [19]:
import pandas as pd

def average_influenza_doses():
    # YOUR CODE HERE
    # child ever fed breast milk: CBF01 - (Yes, No, dont know, missing)
    # P_NUMFLU - Variable for total number of seasonal influenza doses
    
    # open csv and load in df
    df = pd.read_csv('assets/NISPUF17.csv')
    # make a copy of df and delete any NaNs for the interested columns
    df2 = df.copy()
    # drop Nans
    df2.dropna(how='any', axis=0, subset=['CBF_01', 'P_NUMFLU'], inplace=True)
    # average dose for breastfed children
    breastfed_avg_doses = df2.loc[df2['CBF_01']==1]['P_NUMFLU'].mean()
    no_breastfed_avg_doses = df2.loc[df2['CBF_01']==2]['P_NUMFLU'].mean()
    return(breastfed_avg_doses, no_breastfed_avg_doses)
    
average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

In [20]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

In [26]:
def chickenpox_by_sex():
    # YOUR CODE HERE
    # HAD_CPOX - if child had cpox or not
    # P_NUMVRC - number varicella doses
    # SEX - 1 Male, 2 Female
    # open csv and load in df
    df = pd.read_csv('assets/NISPUF17.csv')
    females_df = df.loc[df['SEX']==2]
    males_df = df.loc[df['SEX']==1]
    
    num_female_vac_no_cpox = len(females_df.loc[(females_df['P_NUMVRC']>=1) & (females_df['HAD_CPOX']==2)])
    num_female_cpox = len(females_df.loc[(females_df['P_NUMVRC']>=1) & (females_df['HAD_CPOX']==1)])
    num_male_vac_no_cpox = len(males_df.loc[(males_df['P_NUMVRC']>=1) & (males_df['HAD_CPOX']==2)])
    num_male_cpox = len(males_df.loc[(males_df['P_NUMVRC']>=1) & (males_df['HAD_CPOX']==1)])
    return {
        'male' : (num_male_cpox/num_male_vac_no_cpox),
        'female' : (num_female_cpox/num_female_vac_no_cpox),
    }
    
print(chickenpox_by_sex())

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [27]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more no’s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [30]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    df1 = pd.read_csv('assets/NISPUF17.csv')
    
    # drop nas
    df1.dropna(how='any', axis=0, subset=['P_NUMVRC', 'HAD_CPOX'], inplace=True)
    #select df only where HAD_CPOX < 3
    df1 = df1.loc[df1['HAD_CPOX']<3]
    
    
    # this is just an example dataframe
    df=pd.DataFrame({"had_chickenpox_column":df1['HAD_CPOX'],
                   "num_chickenpox_vaccine_column":df1['P_NUMVRC'],
                    })

    # here is some stub code to actually run the correlation
    corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])
    
    # just return the correlation
    return corr

In [31]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."